# Import Modules

In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# Import Dataset

In [2]:
smart_watch = pd.read_csv("C:/Users/Akunna Anyamkpa/Downloads/Smart_Watch/Smart watch prices.csv")

In [3]:
smart_watch.head(5)

,Brand,Model,Operating System,Connectivity,Display Type,Display Size (inches),Resolution,Water Resistance (meters),Battery Life (days),Heart Rate Monitor,GPS,NFC,Price (USD)
0,Apple,Watch Series 7,watchOS,"Bluetooth, Wi-Fi, Cellular",Retina,1.90,396 x 484,50,18,Yes,Yes,Yes,$399
1,Samsung,Galaxy Watch 4,Wear OS,"Bluetooth, Wi-Fi, Cellular",AMOLED,1.40,450 x 450,50,40,Yes,Yes,Yes,$249
2,Garmin,Venu 2,Garmin OS,"Bluetooth, Wi-Fi",AMOLED,1.30,416 x 416,50,11,Yes,Yes,No,$399
3,Fitbit,Versa 3,Fitbit OS,"Bluetooth, Wi-Fi",AMOLED,1.58,336 x 336,50,6,Yes,Yes,Yes,$229
4,Fossil,Gen 6,Wear OS,"Bluetooth, Wi-Fi",AMOLED,1.28,416 x 416,30,24,Yes,Yes,Yes,$299

# Check Number of Rows and Columns

In [4]:
smart_watch.shape

(379, 13)

# Data Profiling

In [5]:
smart_watch.describe()

       Display Size (inches)
count             376.000000
mean                1.363165
std                 0.218986
min                 0.900000
25%                 1.200000
50%                 1.390000
75%                 1.400000
max                 4.010000

### Check the Data Types

In [6]:
smart_watch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379 entries, 0 to 378
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Brand                      378 non-null    object
 1   Model                      378 non-null    object
 2   Operating System           376 non-null    object
 3   Connectivity               378 non-null    object
 4   Display Type               377 non-null    object
 5   Display Size (inches)      376 non-null    float64
 6   Resolution                 375 non-null    object
 7   Water Resistance (meters)  378 non-null    object
 8   Battery Life (days)        378 non-null    object
 9   Heart Rate Monitor         378 non-null    object
 10  GPS                        378 non-null    object
 11  NFC                        378 non-null    object
 12  Price (USD)                378 non-null    object
dtypes: float64(1), object(12)
memory usage: 38.6+ KB

### Rename Columns

In [7]:
smart_watch = smart_watch.rename(columns={'Display Size (inches)': 'Display Size inches'})
smart_watch = smart_watch.rename(columns={'Water Resistance (meters)': 'Water Resistance meters'})
smart_watch = smart_watch.rename(columns={'Battery Life (days)': 'Battery Life days'})
smart_watch = smart_watch.rename(columns={'Price (USD)': 'Price USD'})

### Print out rows with Null values

In [8]:
mask = smart_watch.isna().any(axis=1)

In [9]:
rows_with_nan = smart_watch[mask]

In [10]:
rows_with_nan

,Brand,Model,Operating System,Connectivity,Display Type,Display Size inches,Resolution,Water Resistance meters,Battery Life days,Heart Rate Monitor,GPS,NFC,Price USD
9,Skagen,Jorn Hybrid HR,NaN,Bluetooth,NaN,NaN,NaN,30,14,Yes,No,No,$195
11,Timex,Metropolitan R,NaN,Bluetooth,AMOLED,1.2,390 x 390,30,3,Yes,No,No,$179
21,Fossil,Collider,Hybrid OS,"Bluetooth, Wi-Fi",Analog,NaN,NaN,30,14,Yes,No,Yes,$195
122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,Timex,Metropolitan+,Timex OS,Bluetooth,E-Ink,1.5,NaN,50,1,Yes,No,No,$79

### Drop rows with Null and Nan values

In [11]:
smart_watch = smart_watch.dropna()

### Change Certain values in Columns

In [12]:
smart_watch['Battery Life days'] = smart_watch['Battery Life days'].replace('Unlimited', "1000")
smart_watch['Water Resistance meters'] = smart_watch['Water Resistance meters'].replace('Not specified', 45)

### Replace "$" and "," symbol from price usd

In [13]:
smart_watch['Price USD'] = smart_watch['Price USD'].astype(str)

In [14]:
smart_watch['Price USD'] = smart_watch['Price USD'].str.replace(',', '')
smart_watch['Price USD'] = smart_watch['Price USD'].str.replace('$', '').str.strip().astype(int)

<ipython-input-14-dfa417eddb7d>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  smart_watch['Price USD'] = smart_watch['Price USD'].str.replace('$', '').str.strip().astype(int)

In [15]:
smart_watch['Price USD'].head(5)

0    399
1    249
2    399
3    229
4    299
Name: Price USD, dtype: int32

### Convert to Data Types to appropriate float format

#### TO FLOAT

In [16]:
 smart_watch[["Battery Life days", "Water Resistance meters"]] = smart_watch[["Battery Life days", "Water Resistance meters"]].values.astype(float)

### Check Changes Made

In [17]:
smart_watch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374 entries, 0 to 378
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Brand                    374 non-null    object
 1   Model                    374 non-null    object
 2   Operating System         374 non-null    object
 3   Connectivity             374 non-null    object
 4   Display Type             374 non-null    object
 5   Display Size inches      374 non-null    float64
 6   Resolution               374 non-null    object
 7   Water Resistance meters  374 non-null    float64
 8   Battery Life days        374 non-null    float64
 9   Heart Rate Monitor       374 non-null    object
 10  GPS                      374 non-null    object
 11  NFC                      374 non-null    object
 12  Price USD                374 non-null    int32
dtypes: float64(3), int32(1), object(9)
memory usage: 39.4+ KB

# Connection to Postgres SQL using SQLAlchemy

In [18]:
engine = create_engine('postgresql://postgres:123456@localhost:5432/pypost')

# Create PostgreSQL database

In [19]:
conn = psycopg2.connect(host="localhost", database="pypost", user="postgres", password="123456")

# Create Smart Watch Table

In [20]:
with conn.cursor() as cur:
    try:
        cur.execute("BEGIN")
        cur.execute("CREATE TABLE smart_watch (Brand TEXT, Model TEXT, Operating_System TEXT, Connectivity TEXT, Display_Type TEXT, Display_Size_inches FLOAT, Resolution TEXT, Water_Resistance_meters FLOAT, Battery_Life_days FLOAT, Heart_Rate_Monitor TEXT, GPS TEXT, NFC TEXT, Price_USD INT);")
        cur.execute("COMMIT")
    except:
        cur.execute("ROLLBACK")
        raise

# Write the contents of the DataFrame to Smart Watch Table

In [21]:
smart_watch.to_sql(name='smart_watch', con = engine, if_exists='replace', index=False)

# Close Database Connection

In [22]:
conn.close()

In [23]:
smart_watch.to_csv("C:/Users/Akunna Anyamkpa/Downloads/Smart_Watch/Cleaned smart watch prices.csv")