# Import Modules

In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# Import Dataset

In [2]:
smart_watch = pd.read_csv("C:/Users/Akunna Anyamkpa/Downloads/Smart_Watch/Smart watch prices.csv")

In [3]:
smart_watch.head(5)

,Brand,Model,Operating System,Connectivity,Display Type,Display Size (inches),Resolution,Water Resistance (meters),Battery Life (days),Heart Rate Monitor,GPS,NFC,Price (USD)
0,Apple,Watch Series 7,watchOS,"Bluetooth, Wi-Fi, Cellular",Retina,1.90,396 x 484,50,18,Yes,Yes,Yes,$399
1,Samsung,Galaxy Watch 4,Wear OS,"Bluetooth, Wi-Fi, Cellular",AMOLED,1.40,450 x 450,50,40,Yes,Yes,Yes,$249
2,Garmin,Venu 2,Garmin OS,"Bluetooth, Wi-Fi",AMOLED,1.30,416 x 416,50,11,Yes,Yes,No,$399
3,Fitbit,Versa 3,Fitbit OS,"Bluetooth, Wi-Fi",AMOLED,1.58,336 x 336,50,6,Yes,Yes,Yes,$229
4,Fossil,Gen 6,Wear OS,"Bluetooth, Wi-Fi",AMOLED,1.28,416 x 416,30,24,Yes,Yes,Yes,$299

# Check Number of Rows and Columns

In [4]:
smart_watch.size

4927

# Data Profiling

In [5]:
smart_watch.describe()

       Display Size (inches)
count             376.000000
mean                1.363165
std                 0.218986
min                 0.900000
25%                 1.200000
50%                 1.390000
75%                 1.400000
max                 4.010000

# Connection to Postgres SQL using SQLAlchemy

In [6]:
engine = create_engine('postgresql://postgres:123456@localhost:5432/pypost')

# Create PostgreSQL database

In [7]:
conn = psycopg2.connect(host="localhost", database="pypost", user="postgres", password="123456")

# Create Smart Watch Table

In [8]:
with conn.cursor() as cur:
    try:
        cur.execute("BEGIN")
        cur.execute("CREATE TABLE smart_watch (Brand TEXT, Model TEXT, Operating_System TEXT, Connectivity TEXT, Display_Type TEXT, Display_Size_inches INT, Resolution TEXT, Water_Resistance_meters INT, Battery_Life_days INT, Heart_Rate_Monitor TEXT, GPS TEXT, NFC TEXT, Price_USD INT);")
        cur.execute("COMMIT")
    except:
        cur.execute("ROLLBACK")
        raise

# Write the contents of the DataFrame to Smart Watch Table

In [9]:
smart_watch.to_sql(name='smart_watch', con = engine, if_exists='replace', index=False)

# Close Database Connection

In [10]:
conn.close()